*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: var(--font-size-md);
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  transition: background-color var(--transition-speed), color var(--transition-speed);
  background-color: var(--bg-color);
  color: var(--text-color);
}