:root {
  --bg-color: #f0f2f5;
  --text-color: #f0f2f5;
  --border-color: #dcdfe6;
  --header-bg-color: #409eff;
  --sidebar-bg-color: #409eff;
  --sidebar-text-color: #bfcbd9;
  --sidebar-active-text-color: #409EFF;
  --card-bg-color: #ffffff;
  --card-header-bg-color: #f5f7fa;
  --chart-bg-color: #f5f7fa;
  --warning-text-color: #FFFF00;
}
