<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.konstantyn111.crashapi.mapper.announcement.AnnouncementTextMapper">

    <resultMap id="TextMap" type="com.github.konstantyn111.crashapi.entity.announcement.AnnouncementText">
        <id property="itemId" column="item_id"/>
        <result property="content" column="content"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO announcement_texts (item_id, content)
        VALUES (#{itemId}, #{content})
    </insert>

    <update id="update">
        UPDATE announcement_texts
        SET content = #{content}
        WHERE item_id = #{itemId}
    </update>

    <select id="findByItemId" resultMap="TextMap">
        SELECT * FROM announcement_texts WHERE item_id = #{itemId}
    </select>

    <delete id="delete">
        DELETE FROM announcement_texts WHERE item_id = #{itemId}
    </delete>
</mapper>